@font-face {
    font-family: 'digital';
    src: url(fonts/digital7.ttf)
}

.container {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: solid;
}

button:active{
    transform: translateY(3px);
}

#calculator {
    border: solid;
    padding: 20px;
    background: rgb(93, 95, 92);
}

#displays {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #DCDCDC;
    border: solid;
    max-width: 250px;
    max-height: 60px;
    font-family: digital;
    font-size: 60px;
    border-color: black;    
    margin-bottom: 10px;
    background: rgb(125, 140, 115);
}


.calculator {
    display: flex;
    flex-direction: column;

}

#calculatorTop {
    background: black;
}
#buttons {
    display: flex;
    flex-direction: column;
}

#mainButtons {
    display:flex;
    flex-direction: column;
}

#numbers {
    display: flex;
    flex-direction: column-reverse;
}

.number:hover {background-color: aliceblue;}


#operators {
    display: flex;
    flex-direction: column;;
}

.operator {
    background-color:#FFA500;
}

#equals {
    background-color: #FFA500;
}

#clearAll {
    background-color:#FFA500;
}

#clear {
    color: white;
    background: #6F6D66;
}

#decimal {
    color: white;
    background: #6F6D66;
}
#others {
    display: flex;
    flex-direction: column;
}
#mainButtons {
    display: flex;
    flex-direction: row-reverse;

}



