@font-face {
    font-family: 'digital';
    src: url(fonts/digital7.ttf);
}
@font-face {
    font-family: 'eurostile';
    src: url(fonts/eurostile.TTF);
}

body {
    background-color: aliceblue;
}
.container {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: solid;
    border-radius: 5px;
}

button:active{
    transform: translateY(3px);
}

button:hover {filter: brightness(130%);}

#calculator {
    border: solid;
    border-radius: 10px;
    padding: 20px;
    padding-top: 40px;
    background: rgb(93, 95, 92);
}

#displays {
    display: flex;
    flex-direction: column-reverse;
    align-items:flex-end;
    background-color: #DCDCDC;
    border: solid;
    max-width: 250px;
    height: 65px;
    font-family: digital;
    font-size: 40px;
    border-color: black;    
    margin-bottom: 10px;
    background: rgb(125, 140, 115);
}

#storedDisplay {
    font-size: 20px;
}
.calculator {
    display: flex;
    flex-direction: column;

}

#logo {
    font-family: eurostile;
    color: lightgray;
    font-weight: 200;
}
#buttons {
    display: flex;
    flex-direction: column;
}

#mainButtons {
    display:flex;
    flex-direction: column;
}

#numbers {
    display: flex;
    flex-direction: column-reverse;
}


#operators {
    display: flex;
    flex-direction: column;;
}

.operator {
    background-color:#FFA500;
}

#divide {
    font-size: 20px;
    vertical-align:middle;
}

#equals {
    background-color: #FFA500;
}

#clearAll {
    background-color:#FFA500;
}

#clear {
    background-color:#FFA500;
}

#decimal {
    color: white;
    background: rgb(89, 89, 162);
    border-color: black;
}

#percent {
    color: white;
    background-color: rgb(89, 89, 162);
    border-color: black;
}

#convert {
    color: white;
    background-color: rgb(89, 89, 162);
    border-color: black;
}
#others {
    display: flex;
    flex-direction: column;
}

#mainButtons {
    display: flex;
    flex-direction: row-reverse;

}



